.transaction-grid-container{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(auto-fit, 2, 1fr);
    gap: 10px;
    height: 98vh;
    width: 100%;
    box-sizing: border-box;
    padding-top: 50px;
}

.transaction-grid-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    border: 0px solid black;
    height: 100%;
    border-radius: 10px;
    background-color: whitesmoke;
}

.transaction-table{
    grid-row: span 2;
    min-height: 250px;
    font-size: 20px;
    border: 0px solid black;
    height: 100%;
    border-radius: 10px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
}

.transaction-table-buttons{
    display: flex;
    padding:5px;
    justify-content: right;
    margin: 5px
}

.button-spacing{
    margin:5px;
}

.add-account-debt{
    display: flex;
    flex-direction: row;
    gap: 20px;
    align-items: stretch;
}
.add-account-debt-item{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 0px solid black ;
    background-color: whitesmoke;
    border-width: 2px;
    border-radius: 10px;
    width: 45%;
    padding: 20px;
    
}

.center-transactions-view{
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* perfect center */
  background-color: white;
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  max-width: 500px;
  width: 90%;
  text-align: center;
}



@media (max-width: 1024px) {
    .transaction-grid-container {
        grid-template-columns: auto; 
        grid-template-rows: auto; 
    }
}

@media (max-width: 768px) {
    .transaction-grid-container {
        grid-template-columns: 1fr;
    }
}
