.grid-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    grid-template-rows: repeat(auto-fit, 4, 1fr); 
    gap: 10px;
    padding: 10px; 
    background-color: white;
    margin: 0; 
    height: 98vh; 
    width: 100%; 
    box-sizing: border-box; 
    padding-top: 50px;
}


.grid-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: whitesmoke;
    font-size: 20px;
    font-weight: bold;
    border: 0px solid black;
    height: 100%;
    border-radius: 10px;
}

.account-total-grid-item{
    overflow-y: auto; 
    height: 100%;     
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}


.grid-date-selection-component{
    display: flex;
    justify-content: center;
    gap: 10px;
    max-width: 50%;
    max-height: 70%;
}

.submit-button{
   padding-top: 20px;

}

.growth-graph {
    grid-column: span 2;
    grid-row: span 2;
    background-color: whitesmoke;
    min-height: 250px;
}

.transaction-history {
    display: flex;
    flex-direction: column;
    grid-column: span 2;
    grid-row: span 3;
    justify-content: top;
    background-color: whitesmoke;
    border-radius: 10px;
    overflow-x: auto;
    overflow: hidden;
    min-height: 150px;
}

.category-totals {
    grid-column: span 2;
  
}

@media (max-width: 1024px) {
    .grid-container {
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: auto; 
    }
}

@media (max-width: 768px) {
    .grid-container {
        grid-template-columns: 1fr; 
    }
}
