.table-container {
    width: 100%;
    overflow-x: auto;
    margin:  0;
    border-radius: 10px;
  }
  
  .data-table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #ccc;
    font-family: Arial, sans-serif;
  }
  
  .table-header {
    background-color: #1170cf;
    text-align: left;
    padding: 10px;
    border: 1px solid #ccc;
    color: white;
  }
  
  .table-row:nth-child(even) {
    background-color: lightgray;
  }
  
  .table-cell {
    padding: 10px;
    border: 1px solid #b6b6b6;
  }
  
  .table-row:hover {
    background-color: #e0e0e0;
  }
  